h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.20rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1.10rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 240px;
    min-height: 320px;
}

@media (max-width: 320px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 360px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}