<div class="bg-slate-200 border border-slate-300 h-8 flex flex-row items-center justify-center gap-2">
  <div class="flex flex-row items-center">
    <button class="sm:w-[65px] sm:h-[25px] bg-slate-200 border-solid border border-slate-400 rounded sm:text-sm text-center align-middle">
      <%= link_to 'Castles', castles_path %>
    </button>
  </div>
</div>
