<!-- app/views/castles/_req_resources.html.erb -->

<div class="req-resources">
  <table>
    <tr>
      <td class="name"><p>Food</p></td>
      <td class="value"><p><%= building.food_requirement %></p></td>
    </tr>
    <tr>
      <td class="name"><p>Wood</p></td>
      <td class="value"><p><%= building.wood_requirement %></p></td>
    </tr>
    <tr>
      <td class="name"><p>Stone</p></td>
      <td class="value"><p><%= building.stone_requirement %></p></td>
    </tr>
    <tr>
      <td class="name"><p>Iron</p></td>
      <td class="value"><p><%= building.iron_requirement %></p></td>
    </tr>
  </table>
</div>
