<!-- app/views/castles/_req_resources.html.erb -->

<div class="req-resources">
  <table>
    <tr>
      <td><p>F</p></td>
      <td><p><%= building.food_requirement %></p></td>
    </tr>
    <tr>
      <td><p>W</p></td>
      <td><p><%= building.wood_requirement %></p></td>
    </tr>
    <tr>
      <td><p>S</p></td>
      <td><p><%= building.stone_requirement %></p></td>
    </tr>
    <tr>
      <td><p>I</p></td>
      <td><p><%= building.iron_requirement %></p></td>
    </tr>
  </table>
</div>
