<!-- app/views/castles/index.html.erb -->

<h1>My castles</h1>

<h2>Castles</h2>
<div class="castles">
  <% @castles.each do |castle| %>
    <div class="castle">
      <h3><%= link_to castle.name, castle %></h3>
    </div>
  <% end %>
</div>
