<%= render partial: 'info_panel' %>

<div class="bg-slate-100">
  <% if @castle.user.id.equal? current_user.id %>
  <!-- My castle -->
    <div class="divide-y divide-solid divide-slate-300">
      <div class="flex justify-center bg-slate-200 py-1">
        <h2 class="font-bold text-xs">Buildings</h2>
      </div>

      <% @castle.ordered_buildings.each do |building| %>
        <%= render partial: 'building', locals: { building: building } %>
      <% end %>
    </div>

    <%= render partial: 'nav' %>
  <% else %>
    <!-- Not my castle -->
  <% end %>
</div>
