<div class="bg-slate-800 border-solid border-2 border-slate-600 flex flex-col justify-center items-center">
  <p class="sm:text-xs md:text-sm text-slate-100">General</p>
  
  <p class="sm:text-xs md:text-sm text-slate-100">Server time: <%= Time.now.strftime("%H:%M:%S %Z") %></p>

  <p class="sm:text-xs md:text-sm text-slate-100">&copy;2023 Vyacheslav Odinokov</p>
  <p class="sm:text-xs md:text-sm text-slate-100">All Rights Reserved</p>
</div>
